<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="icon/fav_icon.ico">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Robot House Company</title>
</head>
<body>
    <div class="header my-3">
        <nav class="nav justify-content-center">
            <a class="text-body nav-link active" href="/">Home</a>
            <a class="text-body nav-link" href="/ourworks">Our works</a>
            <a class="text-body nav-link" href="/contact">Contact</a>
            <a class="text-body nav-link" href="/about">About</a>
        </nav>
    </div>
    <div class="jumbotron jumbotron-fluid" style="padding-top: 10em; padding-bottom: 10em">
        <div class="container text-center">
          <h1 class="display-4">Robot House Company</h1>
          <p class="lead">Welcome to the future</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 py-5">
                <img class="img-fluid" src="artificial_intelligence_upfn.svg">
            </div>
            <div class="col-md-6 text-center my-auto py-5">
              <h2>High technology robots</h2>
              <p>We create robots with latest high tech components</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 order-md-12 py-5">
                <img class="img-fluid" src="firmware_mf69.svg">
            </div>
            <div class="col-md-6 order-md-1 text-center my-auto py-5">
                <h2>Build your own robot</h2>
                <p>We provide robot's details and software, so everyone can build robot and feel the future</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 py-5">
                <img class="img-fluid" src="robotics_kep0.svg">
            </div>
            <div class="col-md-6 text-center my-auto py-5">
              <h2>Use robots</h2>
              <p>Use robots for everyday life to make your work a lot easier</p>
            </div>
        </div>
    </div>
    <footer class="">
        <div class="text-muted text-center mt-5">
            <hr>
            <p>© 2019 Robot House Company</p>
        </div>
    </footer>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>