<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="icon/fav_icon.ico">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Robot House Company</title>
</head>
<body>
    <div class="header my-3">
      <nav class="nav justify-content-center">
          <a class="text-body nav-link active" href="/">Home</a>
          <a class="text-body nav-link" href="/ourworks">Our works</a>
          <a class="text-body nav-link" href="/contact">Contact</a>
          <a class="text-body nav-link" href="/about">About</a>
      </nav>
    </div>
    <div class="jumbotron jumbotron-fluid" style="padding-top: 10em; padding-bottom: 10em">
        <div class="container text-center">
          <h1 class="display-4">Our works</h1>
          <p class="lead">Robots created in Robot House by our team</p>
        </div>
    </div>
    <div class="container">
        <div class="card-columns">
            <div class="card">
              <img src="photo-1531746790731-6c087fecd65a.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Robotic hand</h5>
                <p class="card-text">Completely made with plastic materials</p>
              </div>
            </div>
            <div class="card">
              <img src="photo-1516110833967-0b5716ca1387.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Piano robot</h5>
                <p class="card-text">Full metal piano robot. Can play more than 400 music</p>
              </div>
            </div>
            <div class="card">
              <img src="photo-1531837404483-bdbd0d209ec1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Phone repair robot</h5>
                <p class="card-text">Robot for smartphones repair. Can repair all smartphones (Samsung, Apple, Huawei, Xiaomi and more)</p>
              </div>
            </div>
            <div class="card">
              <img src="6884188818_06491fdf12_k.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Robot machine</h5>
                <p class="card-text">Machine that built for competition</p>
              </div>
            </div>
            <div class="card">
              <img src="7127639975_53d119e523_k.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mini camera robot</h5>
                <p class="card-text">Film where usual cameras can't</p>
              </div>
            </div>
            <div class="card">
              <img src="22673404428_88da93c3c7_k.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Dancing robot</h5>
                <p class="card-text">Dance any dance you tell him to dance</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">That's all so far ...</h5>
                <p class="card-text">But we will continue to upload our future works for our webpage visitors</p>
              </div>
            </div>
        </div>
    </div>
<footer class="">
    <div class="text-muted text-center mt-5">
        <hr>
        <p>© 2019 Robot House Company</p>
    </div>
</footer>
<script src="/js/jquery-3.4.0.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>